<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Sonic The Hedgehog Title</h1>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <ul id="flex-container">
      <li class="flex-item">Home</li>
      <li class="flex-item">HTML-To-PDF</li>
      <li class="flex-item">Table edit updpate</li>
      <li class="flex-item">Dynamic Dropdowns</li>
      <li class="flex-item">Api Connection</li>
      <li class="flex-item">Books</li>
      <li class="flex-item">Search Switch</li>
      <li class="flex-item">Nested Dropdowns</li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
