<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Sonic The Hedgehog Title</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Home</button>
      <button mat-menu-item>HTML-To-PDF</button>
      <button mat-menu-item>Table Edit Update</button>
      <button mat-menu-item>Api Connection</button>
      <button mat-menu-item>Books</button>
      <button mat-menu-item>Dynamic Dropdowns</button>
      <button mat-menu-item>Nested Dropdowns Gmaps</button>
      <button mat-menu-item>Search Switch</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
