<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
  .alert {
    display:none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .alert.success {
    background-color: #4CAF50;
  }

  .alert.info {
    background-color: #2196F3;
  }

  .alert.warning {
    background-color: #ff9800;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
</style>
<script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function () {
      var div = this.parentElement;
      div.style.opacity = "0";
      setTimeout(function () { div.style.display = "none"; }, 600);
    }
  }
</script>

<div class="container">
  <h2>Contextual Classes</h2>
  <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active,
    .success, .info, .warning, and .danger.</p>

<table class="table" id="html-table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td contenteditable='true' (focusout)="notifyUser()">Default</td>
      <td contenteditable='true' (focusout)="notifyUser()">Defaultson</td>
      <td contenteditable='true' (focusout)="notifyUser()">def@somemail.com</td>
    </tr>
    <tr class="success">
      <td contenteditable='true' (focusout)="notifyUser()">Success</td>
      <td contenteditable='true' (focusout)="notifyUser()">Doe</td>
      <td contenteditable='true' (focusout)="notifyUser()">john@example.com</td>
    </tr>
    <tr class="danger">
      <td contenteditable='true' (focusout)="notifyUser()">Danger</td>
      <td contenteditable='true' (focusout)="notifyUser()">Moe</td>
      <td contenteditable='true' (focusout)="notifyUser()">mary@example.com</td>
    </tr>
    <tr class="info">
      <td contenteditable='true' (focusout)="notifyUser()">Info</td>
      <td contenteditable='true' (focusout)="notifyUser()">Dooley</td>
      <td contenteditable='true' (focusout)="notifyUser()">july@example.com</td>
    </tr>
    <tr class="warning">
      <td contenteditable='true' (focusout)="notifyUser()">Warning</td>
      <td contenteditable='true' (focusout)="notifyUser()">Refs</td>
      <td contenteditable='true' (focusout)="notifyUser()">bo@example.com</td>
    </tr>
    <tr class="active">
      <td contenteditable='true' (focusout)="notifyUser()">Active</td>
      <td contenteditable='true' (focusout)="notifyUser()">Activeson</td>
      <td contenteditable='true' (focusout)="notifyUser()">act@example.com</td>
    </tr>
  </tbody>
</table>

<div id="notify">
  
</div>


<div class="alert">
  <span class="closebtn">&times;</span>
  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>

<div class="alert success">
  <span class="closebtn">&times;</span>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

<div class="alert info">
  <span class="closebtn">&times;</span>
  <strong>Info!</strong> Indicates a neutral informative change or action.
</div>

<div class="alert warning">
  <span class="closebtn">&times;</span>
  <strong>Warning!</strong> Indicates a warning that might need attention.
</div>


</div>

