<div class="container" id="nested-drop-div">
  <h1 id="component-title">API Nested Dropdown Component Demo</h1>

<agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="8" [disableDefaultUI]="false"
  [zoomControl]="false">
  <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
  </agm-marker>
</agm-map>
<p *ngIf="loading">Loading...</p>

<form>
  <section class="row">
    <h3 class="col-md-4">Country Lookup</h3>
    <select class="col-md-8 dropdowns" id="firstDropDown" (change)="storeIndex()" [(ngModel)]="selectedCountry">
      <option *ngFor="let country of Countries; let i = index" value={{i}}>
        {{country.name}}
      </option>
    </select>
  </section>
  <section class="row ">
    <h3 class="col-md-4">State Lookup</h3>
    <select class="col-md-8 dropdowns" id="secondDropDown" (change)="storeIndex2()" [(ngModel)]="selectedState">
      <option *ngFor="let mono of tempStates; let j = index" value={{j}}>
        {{tempStates[j]}}
      </option>
    </select>
  </section>
  <section class="row">
    <h3 class="col-md-4">City Lookup</h3>
    <select class="col-md-8 dropdowns" id="thirdDropDown" (change)="showLocation()">
      <option *ngFor="let duo of tempCities; let k = index">
        {{tempCities[k]}}
      </option>
    </select>
  </section>
</div>
